.auth-container-join {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
  }
  
  .auth-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #28d48c;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28d48c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #28d48c;
  }
  
  .toggle-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .toggle-button:hover {
    color: #333;
  }
  
  @media (max-width: 480px) {
    .auth-form-container {
      padding: 1rem;
    }
  }
  
  